* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', sans-serif;
  background: #F8A98A; 
}


/*Grid topo*/
.topo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.4fr;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

.logo { 
  grid-area: 1 / 1 / 2 / 2; 
  align-self: top;
  text-align: top;
  margin-left: 20px;
}
.pergunta { 
  grid-area: 2 / 2 / 3 / 4; 
  text-align: center;
}
.deco1 { 
  grid-area: 1 / 4 / 3 / 5;
  align-self: center;
  text-align: right;
}


/*Pergunta*/
.pergunta p {
  color: #FFEBEB;
  font-size: 40px;
  font-weight: 700;
}


/*grid baixo*/
.baixo {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.4fr 1fr 0.4fr;
  grid-template-rows: 0.2fr 1fr 0.5fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

.option1 { 
  grid-area: 1 / 2 / 2 / 3; 
  text-align: center;
}
.option2 { 
  grid-area: 1 / 4 / 2 / 5; 
  text-align: center;
}
.musica { 
  grid-area: 2 / 2 / 3 / 3; 
  align-self: center;
  text-align: center;
}
.atividade { 
  grid-area: 2 / 4 / 3 / 5; 
  align-self: center;
  text-align: center;
}
.deco2 { 
  grid-area: 3 / 1 / 5 / 2; 
  align-self: bottom;
  margin-left: 20px;
}


/*opção 1 e 2*/
.option1, .option2 {
  color: #FFEBEB;
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
}

.img {
  border: #fff;
  width: 230px;
  height: 190px;
  align-self: bottom;
}