 * {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', sans-serif;
  background: #F8A98A; 
}

.resultado_2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.4fr 0.2fr 0.4fr 1fr repeat(3, 0.2fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

.logo { 
  grid-area: 1 / 1 / 2 / 2; 
  margin-left: 30px;
}
.patinha_1 { grid-area: 2 / 1 / 4 / 2; }
.dog_1 { 
  grid-area: 2 / 5 / 4 / 6;
  text-align: center;
}
.titulo { grid-area: 2 / 3 / 3 / 4; }
.cachorro { grid-area: 3 / 3 / 4 / 4; }
.texto { grid-area: 4 / 2 / 5 / 5; }
.ir_para { 
  grid-area: 6 / 3 / 7 / 4; 
  text-align: center;
}
.dog_2 { grid-area: 5 / 1 / 7 / 2; }
.desenho {
  grid-area: 4 / 5 / 7 / 6;
  text-align: bottom;
  margin-top: 80px;
}

/* texto */
.texto {
  font-size: 40px;
  font-weight: 700;
  color: #FFEBEB;
  text-align: center;
  margin-top: 20px;
}

.titulo {
  font-size: 48px;
  font-weight: 700;
  color: #FFEBEB;
  text-align: center;
  margin-bottom: 10px;
}

.cachorro {
  font-size: 48px;
  font-weight: 700;
  color: #FFEBEB;
  text-align: center;
  background: #EF835A;
  border-radius: 40px;
  height: 75px;
  width: 306px;
  align-self: center;
  margin-left: 40px;
}