* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', sans-serif;
  background: #EF835A; 
}


/*navbar*/
.topnav {
  background-color: #F8A98A;
  overflow: hidden;
  font-weight: bold;
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
  top: 0;
  }
  
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 40px 42px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #EF835A;
  color: #FFEBEB;
  border-radius: 80px;
}

.current {
  background-color: #F68C64;
  color: #FFEBEB;
  border-radius: 80px;
}
  
.topnav a.active {
  background-color: #F8A98A;
  color: white;
}
  
.topnav-centered a img {
  width: 200px; 
}
  
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
}

.active {
  text-align: center;
}


/*Topo*/

.texto {
  text-align: justify;  
  background: #F8A98A;  
  color: #FFEBEB;
  display: flex;
  margin-right: 0px;
  border-radius: 20px;
}

.texto p{
  font-size: 32px;
  margin: 60px;
  text-align: justify;  
}

.titulo{
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #FFEBEB;
}

.sociais{
  color:#FFEBEB;
  font-size: 32px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  margin-bottom: 0px;
}

/*grid*/
.topo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.4fr 0.2fr 1fr 0.6fr;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

.desenho1 { grid-area: 1 / 1 / 2 / 3; }
.titulo { 
  grid-area: 2 / 3 / 3 / 4; 
  text-align: center;
}
.paragrafo{ 
  grid-area: 3 / 2 / 4 / 5; 
  align-items: center;
  margin-right: 0px;
}
.sociais { 
  grid-area: 4 / 2 / 5 / 4;
  text-align: center;
}
.redes { 
  grid-area: 4 / 4 / 5 / 5; 
  text-align: center;
  margin-top: 50px;
}


/*baixo*/
.baixo {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.5fr 0.2fr 1fr 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

.animais { grid-area: 1 / 1 / 2 / 5; }
.bigodes { 
  grid-area: 3 / 2 / 4 / 3; 
  text-align: center;
}
.alfredo { 
  grid-area: 3 / 4 / 4 / 5; 
  text-align: center;
}
.oswaldo { 
  grid-area: 3 / 6 / 4 / 7; 
  text-align: center;
}
.caramelo { 
  grid-area: 3 / 8 / 4 / 9; 
  text-align: center;
}


/*rodapé*/
footer {
  display: grid;
  grid-template-columns: 0.45fr repeat(7, 1fr) 0.45fr;
  grid-template-rows: 0.45fr repeat(4, 1fr) 0.45fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: #F8A98A;
  font-size: 28px;
}

.rodapelogo { grid-area: 3 / 2 / 5 / 4; }

.homeroda { 
  grid-area: 2 / 4 / 3 / 5;
  color: #FFEBEB;
  text-decoration: none;
  text-align: center;
}

.FAQs { 
  grid-area: 3 / 4 / 4 / 5; 
  color: #FFEBEB;
  text-decoration: none;
  text-align: center;
}

.sobreroda { 
  grid-area: 4 / 4 / 5 / 5; 
  color: #FFEBEB;
  text-decoration: none;
  text-align: center;
}

.contatos { 
  grid-area: 5 / 4 / 6 / 5; 
  color: #FFEBEB;
  text-decoration: none;
  text-align: center;
}

.barra1 { 
  grid-area: 2 / 5 / 6 / 6; 
  align-self: center;
  text-align: center;
}

.jornal { 
  grid-area: 3 / 6 / 4 / 7; 
  align-self: center;
  text-align: center;
  color: #FFEBEB;
}

.email { 
  grid-area: 4 / 6 / 5 / 7;
  align-self: center;
  text-align: center;
}

.barra2 { 
  grid-area: 2 / 7 / 6 / 8; 
  align-self: center;
  text-align: center;
}

.face { 
  grid-area: 3 / 8 / 3 / 9; 
  color: #FFEBEB;
  align-self: center;
  text-align: center;
}

.twitter { 
  grid-area: 4 / 8 / 4 / 9; 
  color: #FFEBEB;
  align-self: center;
  text-align: center;
}

.insta { 
  grid-area: 5 / 8 / 5 / 9; 
  color: #FFEBEB;
  align-self: center;
  text-align: center;
}

.tiktok {
  grid-area: 2 / 8 / 2 / 9;
  color: #FFEBEB;
  align-self: center;
  text-align: center;
}